{% extends "@RavuAlHemioSharpIrcBotWeb/base.html.twig" %}

{% block title %}Counters{% endblock %}

{% block head %}
    <script type="text/javascript" src="{{ asset('bundles/ravualhemiosharpircbotweb/counters.js') }}"></script>
    <script type="text/javascript">
        Counters.setUpSortingOnLoad();
    </script>
{% endblock %}

{% block body %}
    <section class="counter">
        <h2>!{{ command|e }}</h2>
        <p class="count">Count: <span class="counter-value">{{ totals.count }}</span></p>
        <section class="latest-entries">
            <h3>Latest entries</h3>
            <table class="latest-entries">
                {% for entry in recentEntries %}
                <tr>
                    <td aria-label="entry" class="entry"><pre>[<span class="timestamp">{{ entry.happened|date("Y-m-d H:i:s") }}</span>] &lt;<span class="perp-nick">{{ entry.perpNick|e }}</span>&gt; <span class="message">{{ entry.message|e }}</span></pre></td>
                </tr>
                {% endfor %}
            </table>
        </section>
        <section class="stats-user">
            <h3>Counts by user</h3>
            <table class="stats-user sortable">
                <tr class="header">
                    <th class="user">User</th>
                    <th class="count">Count</th>
                    <th class="percentage">Percentage</th>
                </tr>
                {% for user in users %}
                    <tr class="entry">
                        <td class="user">{{ user.username|e }}</td>
                        <td class="count">{{ user.count }}</td>
                        <td class="percentage">{{ user.percentage|e }}%</td>
                    </tr>
                {% endfor %}
            </table>
        </section>
        <section class="stats-user-week-day">
            <h3>Counts by user and weekday</h3>
            <table class="stats-user-week-day sortable">
                <tr class="header">
                    <th class="user">User</th>
                    <th class="weekday">Mo</th>
                    <th class="weekday">Tu</th>
                    <th class="weekday">We</th>
                    <th class="weekday">Th</th>
                    <th class="weekday">Fr</th>
                    <th class="weekday">Sa</th>
                    <th class="weekday">Su</th>
                </tr>
                {% for user in users %}
                    <tr class="entry">
                        <td class="user">{{ user.username|e }}</td>
                        {% for wd in weekdayOrder %}
                            <td class="weekday count">{{ user.weekDayToCount[wd] }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                <tr class="totals">
                    <td class="user">Total</td>
                    {% for wd in weekdayOrder %}
                        <td class="weekday count">{{ totals.weekDayToCount[wd] }}</td>
                    {% endfor %}
                </tr>
            </table>
        </section>
        <section class="stats-user-day-hour">
            <h3>Counts by user and hour of day</h3>
            <table class="stats-user-day-hour sortable">
                <tr class="header">
                    <th class="user">User</th>
                    {% for n in range(0, 23) %}
                        <th class="hour">{{ "%02d"|format(n) }}</th>
                    {% endfor %}
                </tr>
                {% for user in users %}
                    <tr class="entry">
                        <td class="user">{{ user.username|e }}</td>
                        {% for n in range(0, 23) %}
                            <td class="hour count">{{ user.dayHourToCount[n] }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                <tr class="totals">
                    <td class="user">Total</td>
                    {% for n in range(0, 23) %}
                        <td class="hour count">{{ totals.dayHourToCount[n] }}</td>
                    {% endfor %}
                </tr>
            </table>
        </section>
        <section class="stats-user-year-month">
            <h3>Counts by user and month of year</h3>
            <table class="stats-user-year-month">
                <tr class="header">
                    <th class="user">User</th>
                    {% for n in range(1, 12) %}
                        <th class="month">{{ "%02d"|format(n) }}</th>
                    {% endfor %}
                </tr>
                {% for user in users %}
                    <tr class="entry">
                        <td class="user">{{ user.username|e }}</td>
                        {% for n in range(0, 11) %}
                            <td class="hour count">{{ user.yearMonthToCount[n] }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                <tr class="totals">
                    <td class="user">Total</td>
                    {% for n in range(0, 11) %}
                        <td class="hour count">{{ totals.yearMonthToCount[n] }}</td>
                    {% endfor %}
                </tr>
            </table>
        </section>
    </section>
{% endblock %}
