{% extends "@RavuAlHemioSharpIrcBotWeb/base.html.twig" %}

{% block title %}Counters{% endblock %}

{% block body %}
    {% for counter in counters %}
        <section class="counter">
            <h2>!{{ counter.command|e }}</h2>
            <p class="count">Count: <span class="counter-value">{{ counter.count }}</span></p>
            <p class="latest-entries-header">Latest entries:</p>
            <table class="latest-entries">
                {% for entry in counter.recentEntries %}
                <tr>
                    <td aria-label="entry" class="entry"><pre>[<span class="timestamp">{{ entry.happened|date("Y-m-d H:i:s") }}</span>] &lt;<span class="perp-nick">{{ entry.perpNick|e }}</span>&gt; <span class="message">{{ entry.message|e }}</span></pre></td>
                </tr>
                {% endfor %}
            </table>
            <p class="details-link"><a href="{{ counter.detailsLink|e }}">details</a></p>
        </section>
    {% endfor %}
{% endblock %}
